
@*
    AdminLayout Sidebar
*@

<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header" style="height: 120px; display: flex; align-items: center; justify-content: center;">
            <a href="/About/Index" class="b-brand text-primary">
                <img src="~/Mantis-Bootstrap-1.0.0/dist/assets/images/user/icon1.png"
                     style="width:80px; height:80px;">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item">
                    <a href="/About/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-user"></i></span>
                        <span class="pc-mtext">Hakkımda</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/Statistics/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
                        <span class="pc-mtext">İstatistikler</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/Category/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-folders"></i></span>
                        <span class="pc-mtext">Kategoriler</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Project/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-folder"></i></span>
                        <span class="pc-mtext">Projelerim</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/Skill/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-star-half"></i></span>
                        <span class="pc-mtext">Yeteneklerim</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/Banner/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-award"></i></span>
                        <span class="pc-mtext">Öne Çıkanlar</span>
                    </a>
                </li>
            
                <li class="pc-item">
                    <a href="/Education/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-school"></i></span>
                        <span class="pc-mtext">Eğitim Hayatım</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/Experience/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-briefcase"></i></span>
                        <span class="pc-mtext">Deneyimlerim</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/Message/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-mail"></i></span>
                        <span class="pc-mtext">Gelen Mesajlar</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/Testimonial/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-users"></i></span>
                        <span class="pc-mtext">Referanslarım</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/ContactInfo/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-phone"></i></span>
                        <span class="pc-mtext">İletişim Bilgileri</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/SocialMedia/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-brand-facebook"></i></span>
                        <span class="pc-mtext">Sosyal Medya</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

