
@*
    Admin Layout Footer
*@

<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col-sm my-1" font-family:Arial, sans-serif; color:#6c757d;">
                <p class="m-0">
                    2025 &#8226;
                    <a href="http://sinan-kaya.com/" target="_blank" style="color:#0d6efd; text-decoration:none;">Sinan KAYA</a> Tarafından Geliştirildi &#8226; Tüm Hakları Saklıdır.
                </p>
            </div>
            <div class="col-auto my-1">
                <ul class="list-inline footer-link mb-0">
                </ul>
            </div>
        </div>
    </div>
</footer>




































































































































