@model List<SocialMedia>
@*
    Default Social Media 
*@

<div class="header-social-links text-center mt-2">
    @foreach (var item in Model)
    {
        <a href="@item.PlatformUrl" target="_blank">
            <i class="@item.PlatformIcon"></i>
        </a>
    }
</div>