@model ContactInfo
@{
    ViewData["Title"] = "İletişim Bilgilerini Güncelle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">
    <div class="row g-3">
        <input type="hidden" asp-for="ContactInfoId" />
        <div class="col-md-6">
            <label asp-for="Address" class="form-label">Adres</label>
            <input type="text" class="form-control" asp-for="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="PhoneNumber" class="form-label">Telefon</label>
            <input type="text" class="form-control" asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Email" class="form-label">E-mail</label>
            <input type="text" class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="MapUrl" class="form-label">Konum</label>
            <input type="text" class="form-control" asp-for="MapUrl" />
            <span asp-validation-for="MapUrl" class="text-danger"></span>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-outline-primary">Güncelle</button>
        </div>
    </div>
</form>

