@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminLayoutHeadComponent")

<body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">

    @await Component.InvokeAsync("_AdminLayoutPreLoaderComponent")

    @await Component.InvokeAsync("_AdminLayoutSidebarComponent")

    @await Component.InvokeAsync("_AdminLayoutHeaderComponent")

    <div class="pc-container">
        <div class="pc-content">

            @await Component.InvokeAsync("_AdminLayoutBreadCrumbComponent")

            @RenderBody()

        </div>
    </div>

    @await Component.InvokeAsync("_AdminLayoutFooterComponent")

    @await Component.InvokeAsync("_AdminLayoutScriptsComponent")
 
</body>
</html>
